.btn {
    font-family: "Poppins", sans-serif;
    background: $main-color;
    border-radius: 8px;
    color: #fff;
    transition: all 0.3s;
    @include desktops{
        &:hover{
            background:#144ED5;
        }
    }
}
