.descr {
    font-family: 'Open Sans';;
    font-weight: 600;
    color: #6C788B;
    line-height: 150%;
    &_fz14 {
        font-size: 14px;
        font-weight: 400;
    }
    &_fz24 {
        font-size: 24px;
    }
}